* {box-sizing: border-box;}

/*general codes*/

body {
  background-color: #F0F0F0;
  margin:0px;
}

h1 {
  font-family: 'Kulim Park', sans-serif;
  color: black;
  font-size: 3em;
  margin-left: 15px;
  letter-spacing: 10px;
}

h2 {
  font-family: 'Kulim Park', sans-serif;
  color: #2C2C2C;
  font-size: 1.9em;
  text-align: center;
  margin: 40px 0px 10px 0px;
}

h3 {
  font-family: 'Kulim Park', sans-serif;
  color: #5A5A5A;
  font-size: 1.5em;
  text-align: center;
  margin: 20px 0px;
}

h4 {
  font-family: 'Kulim Park', sans-serif;
  color: #5A5A5A;
  font-size: 1.4em;
  text-align: center;
  margin: 20px 0px;
}

p {
  font-size: 1.2em;
  margin-left: 40px;
  margin-right: 60px;
  overflow: auto;
  line-height: 2;
}

img {
  clear: left;
  float: left;
  width: 35%;
  margin: 25px 30px 20px 30px;
}

a {
  display: inline;
  text-decoration: none;
  color: darkgreen;
  text-align: center;
}

.clearfix {
  overflow: auto;
}

/*global navigation menu*/

ul {
  margin-top: 40px;
  text-align: center;
  background-color: #B3FFA0;
  overflow: hidden;
}

header li {
  list-style: none;
  float: right;
  padding: 4px;
  font-size: 1.7em;
  font-family: 'Kulim Park', sans-serif;
}

li a {
  display: inline-block;
  color: darkgreen;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

header li a:hover {
  background-color: #83B975;
  color: #283026;
}

/*drop-down code for past writing tab*/

.dropbtn {
  border: none;
  cursor: pointer;
  font-size: 1.7em;
  font-family: 'Kulim Park', sans-serif;
  color: darkgreen;
}

.dropdown {
  float: right;
  display: inline-block;
}

.drop-content {
  display: none;
  position: absolute;
  background-color: #D6FFCF;
  width: 20%;
  z-index: 1;
}

.drop-content a {
  display: block;
  text-decoration: none;
  font-size: 1.4em;
  color: darkgreen;
  padding: 15px;
  font-family: 'Kulim Park', sans-serif;
}

.drop-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .drop-content {
  margin-top: 80px;
  display: block;
}

/*screen display space*/

.screenspace {
  max-width: 80%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  height: 100%;
}

/*images and specific elements*/

.logo {
  display: block;
  float: left;
  width: 150px;
  height: 85px;
  padding: 0px 10px;
  margin: 0px;
}

.head_image {
  clear: both;
  display: block;
  width: 100%;
  margin: 30px 0px;
  padding: 0px;
}

.sm_icon {
  float: right;
  width: 25%;
  padding: 10px;
  margin: 15px 15px;
  display: inline;
}

.write_bg {
  background-color: white;
  margin: 50px 80px 30px 80px;
  border: 10px double green;
  height: 500px;
  overflow: scroll;
}

.stories {
  text-indent: 35px;
  padding: 40px;
  text-align: justify;
  line-height: 2;
}

.self_pic {
  margin-left: 8%;
  width: 80%;
  display: block;
  margin-right: auto;
}

#video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 380px;
  frameborder: 0;
}

#caption {
  font-style: italic;
  text-align: center;
  color: grey;
}

/*putting text next to images*/

#about {
  clear: left;
  text-align: center;
  max-width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*two-column layout for About page*/

.layout {
  float: left;
  width: 100%;
}

.left {
  float: left;
  width: 40%;
  margin: 0% 1% 2% 7%;
  padding: 0px 10px;
}

.right {
  float: right;
  background-color: #AFD6A6;
  border: 5px solid darkgreen;
  width: 40%;
  margin: 2% 10% 2% 1%;
  padding: 80px 20px;
}

/*footer coding*/

.footer {
  background-color: #B3FFA0;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  position: relative;
  padding: 5px;
}

.footer li {
  list-style: none;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  margin: 0px 20px;
}

.footer a {
  color: darkgreen;
  font-size: 1.5em;
  font-family: 'Kulim Park', sans-serif;
  text-decoration: none;
}

.footer a:hover {
  color: #283026;
}

.footer ul {
  margin-top: 20px;
}


/*mobile-responsiveness coding*/

@media (max-width: 700px) {

  h1 {
    display: inline;
    float: left;
    font-size: 2.3em;
    margin-left: 20px;
    width: 50%;
  }

  h3 {
    display: block;
    clear: left;
  }

  p {
    font-size: 1em;
    float: left;
  }

  img {
    width: 75%;
    display: block;
    margin: 10px;
  }

  .logo {
    clear: right;
    float: right;
    display: inline;
    margin-top: 50px;
  }

  ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  header li {
    float: left;
    padding: 0px;
    width: 100%;
  }

  li a {
    padding: 5px 20px;
    width: 100%;
  }

  .dropdown {
    float: none;
    padding: 0px;
    width: 100%;
  }

  .drop-content a {
    font-size: 1.2em;
  }

  .dropdown:hover .drop-content {
    margin-top: 0px;
  }

  .screenspace {
    max-width: 100%;
    background-color: #F1F1F1;
  }

  .head_image {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
  }

  .left {
    display: block;
    width: 90%;
  }

  .right {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .write_bg {
    background-color: white;
    border: 5px solid green;
    margin: 20px 30px;
  }

  .stories {
    padding: 10px;
  }

  #about {
    padding: 0px 40px;
    max-width: 100%;
  }

  .footer {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .footer li {
    display: inline-block;
    margin: 0px;
    padding: 10px;
  }

  .footer a {
    font-size: 1.25em;
  }
